{% extends "FrontendBundle:Layouts:1column.html.twig" %}

{% block title %}{{ "Portal de alquiler temporal de espacios comerciales y eventos: espacios para pop-up stores, corners, eventos y showrooms"|trans }}{% endblock %}
{% block description %}{{"Portal para el alquiler de espacios comerciales por meses, semanas y días. Portal de alquiler de espacios para pop-ups, espacios para corners, espacios para eventos, espacios de coworking "|trans}}{% endblock %}
{% block sectionclass %}home page{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section id="#introduction">
        <div class="container stack">
            <div class="row">
                <div class="col-md-6">
                    <img alt="Educacity-smartphone" class="pull-riht" src="{{ asset('bundles/frontend/img/smartphone.jpg') }}" >
                </div><!-- .col-md-6 -->
                <div class="col-md-6">
                    <h2 class="stack-title">{{ 'Historia y tecnología unidas en una única aplicación' | trans }}</h2>
                    <p class="stack-description">
                        {{ 'No pierdas un detalle de lo que pasó a tu alrededor y de todos los edificios emblemáticos de Sevilla.' | trans }}
                        <br>
                        {{ 'Recorre cada calle, cada rincón de tu ciudad...y sumergete en TODO' }}
                    </p>
                </div><!-- .col-md-6 -->
            </div><!-- .row -->
        </div><!-- .container .stack -->
    </section>

    <div class="bg-parallax multimedia">
        <section id="multimedia">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="parallax-title">{{ 'Captura tus momentos únicos junto a los que más quieres' | trans }}</h2>
                    </div>
                </div>
            </div>
        </section>
    </div><!-- .bg-parallax .multimedia -->

    {#<div class="row">
      <div class="col-md-12 logos-company">
        <i class="logo fa fa-android"></i>
        <i class="logo fa fa-skype"></i>
        <i class="logo fa fa-maxcdn"></i>
        <i class="logo fa fa-pagelines"></i>
      </div>
    </div>#}

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}